/* ---------------------------------------------------------------------
Original Author: Scott Garrison / Kristine Grad
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: 767px and under
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */

.grid-col {
    float: none;
    width: 100%;
}

.grid-col + .grid-col {
    margin-left: 0;
    margin-top: 20px;
}

.grid-row-s .grid-col + .grid-col {
    margin-left: 0;
}

.grid-main {
    float: none;
    width: 100%;
    margin-left: 0;
}

.grid-row-s .grid-col { width: 100%; }

img {
    display: block;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------
 Header
------------------------------------------------------------------------ */

.wrapper-header {
    z-index: 3;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transition: .2s -webkit-transform ease-in-out;
    -moz-transition: .2s -webkit-transform ease-in-out;
}

.btn-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    display: block;
    width: 98px;
    height: 41px;
    margin: 10px auto 0;
    background: url('../images/logo-mobile.png') no-repeat;
}

.page-header {
    height: 60px;
}

/* ---------------------------------------------------------------------
 Main Navigation
------------------------------------------------------------------------ */

.slideout {
    visibility: hidden;
    position: fixed;
    width: 275px;
    height: 100%;
    z-index: -1;
    -webkit-transition: visibility 0s linear .2s;
    -moz-transition: visibility 0s linear .2s;
    overflow-y: auto;
}

.nav {
    height: auto;
}

.nav-container {
    top: 0;
    left: 0;
    -webkit-transition: z-index 0s linear .2s;
    -moz-transition: z-index 0s linear .2s;
}

.nav-container.active {
    visibility: visible;
    z-index: 2;

}

.nav > li {
    display: block;
    border-top: 1px solid #458ea9;
}

/* ---------------------------------------------------------------------
 Layout
------------------------------------------------------------------------ */

.page-content {
    max-width: 960px;
    margin: 0 auto;
    z-index: 2;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transition: .2s -webkit-transform ease-in-out;
    -moz-transition: .2s -webkit-transform ease-in-out;
}

.section-wrap,
.section-wrap-img {
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------------------------------------------------------
 Menu Utilities
------------------------------------------------------------------------ */

.left-active {
    -webkit-transform: translateX(275px);
    -moz-transform: translateX(275px);
    min-width: 320px;
}

/* ---------------------------------------------------------------------
 Volunteer Page
------------------------------------------------------------------------ */

.volunteer-img {
    margin-top: 0;
}

/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */
.media-pull-left { margin-left: 0; }

.media-push-right { margin-right: 0; }

.media-float-right { float: none; }

.media-pull-left > .media-element { margin: 0 10px 0 0; }

/* ---------------------------------------------------------------------
 Other
------------------------------------------------------------------------ */

.grid-site {
    padding: 20px 0 20px 0;
}

.hennepin-county {
    margin: 0 auto;
}

.hero-img-home,
.hero-img-training,
.hero-img-about {
    background-image: none;
}

.mobile-none {
    display: none;
}

.partners {
    width: 100%;
}

.partners-bd > * {
    height: 175px;
}

.participant-options > * + * {
    margin-top: 25px;
}

.section-wrap-img {
    padding: 0 10px;
}

.section-quote {
    margin-top: 30px;
}

.section-quote-bd {
    padding: 0 65px;
    margin-bottom: 15px;
}

.section-quote-bd:before {
    left: 0;
}

.section-quote-ft {
    padding: 0 50px;
}

.section-quote_about {
    margin-left: 0px;
}

.section-quote-hd_about {
    margin-left: 0px;
}

.h-list_scholarships {
    font-size: 14px;
}

.blocks-large > * {
    height: auto;
}

.blocks-small > * {
    height: auto;
    margin-bottom: 20px;
}

.accomplishments .grid-col {
    text-align: center;
}

.accomplishments .grid-row-s {
    margin-bottom: 60px;
}

.about-accomplishments-divide {
    display: none;
}

.about-report {
    margin-left: 0;
}
