/* ---------------------------------------------------------------------
Original Author: Scott Garrison / Kristine Grad
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */

.grid-row-push-l {
    margin-bottom: 60px;
}

.grid-row-push-m {
    margin-bottom: 30px;
}

.grid-row-push-s {
    margin-bottom: 20px;
}

.grid-col {
    float: left;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.grid-col img {
    max-width: 100%;
}

.grid-col-right {
    float: right;
}

.grid-col-right-single { margin-right: 20%; }

.grid-col + .grid-col { margin-left: 2.291666666667%; } /* approx 20px margin on 960width  */

.grid-col-1 { width: 6.145833333333%; }
.grid-col-2 { width: 14.6875%; }
.grid-col-3 { width: 23.229166666667%; }
.grid-col-4 { width: 31.770833333333%; }
.grid-col-5 { width: 40.3125%; }
.grid-col-6 { width: 48.854166666667%; }
.grid-col-7 { width: 57.395833333333%; }
.grid-col-8 { width: 65.9375%; }
.grid-col-9 { width: 74.479166666667%; }
.grid-col-10 { width: 83.020833333333%; }
.grid-col-11 { width: 91.5625%; }
.grid-col-12 { width: 100%; }

.grid-row-s .grid-col + .grid-col { margin-left: 2.733819095477%; } /* approx 20px margin on 960width  */
.grid-row-s .grid-col-1 { width: 7.518796992481%; }
.grid-row-s .grid-col-2 { width: 17.794486215539%; }
.grid-row-s .grid-col-3 { width: 28.070175438596%; }
.grid-row-s .grid-col-4 { width: 38.345864661654%; }
.grid-row-s .grid-col-5 { width: 48.621553884712%; }
.grid-row-s .grid-col-6 { width: 58.897243107769%; }
.grid-row-s .grid-col-7 { width: 69.172932330827%; }
.grid-row-s .grid-col-8 { width: 79.448621553885%; }
.grid-row-s .grid-col-9 { width: 89.724310776942%; }
.grid-row-s .grid-col-10 { width: 100%; }

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */

body {
    font: 14px/1.5 Helvetica, Arial, sans-serif;
    background: #ededed;
    color: #414042;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    -moz-transition:
        color 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -webkit-transition:
        color 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -ms-transition:
        color 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -o-transition:
        color 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    transition:
        color 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
}

a:hover,
a:focus {
    color: #d7e5ef;
}

.logo {
    display: block;
    width: 312px;
    height: 64px;
    margin: 23px auto 0;
    background: url('../images/logo.png') no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------------
 Layout
------------------------------------------------------------------------ */

.grid-site {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0 80px 0;
}

.grid-site_thin {
    padding: 35px 0;
}

.grid-site-inset { padding: 80px 0 40px; }

.grid-site:before,
.grid-site:after,
.grid-main:before,
.grid-main:after,
.grid-row:before,
.grid-row:after,
.grid-row-s:before,
.grid-row-s:after {
   content: " ";
   display: table;
}

.grid-site:after,
.grid-main:after,
.grid-row,
.grid-row-s { clear: both; }

.grid-sidebar {
    position: fixed;
    width: 11%;
    margin-left: -20px;
}

.grid-main {
    float: left;
    width: 83.020833333333%;
    margin-left: 17.794486215539%;
}

.section-padded {
    padding: 20px 0;
}

.section-wrap {
    padding: 0 10px;
}

.section-wrap-img {
    padding: 60px 10px 0;
}

.section-hr {
    border-bottom: 1px solid #54accd;
}

.hero-message {
    color: #005581;
}

.hero-message h2 {
    font-weight: bold;
}

.bg-turq { background: #54accd; color: #fff; }
.bg-lightblue { background: #d7e5ef; }
.bg-darkblue { background: #005581; }
.bg-white { background: #FFFFFF; }

.bg-white a { color: #005581; }

.turq { color: #54accd; }
.lightblue { color: #d7e5ef; }
.darkblue { color: #005581; }
.white { color: #FFFFFF; }

.bg-white a { color: #005581; }

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */

.hdg {
    line-height: 1;
    color: #005581;
}

.hdg-invert {
    color: #FFFFFF;
}

.hdg-cap {
    text-transform: uppercase;
}

.hdg-bold {
    font-weight: bold;
}

.hdg-1 {
    font-size: 48px;
}

.hdg-2 {
    font-size: 40px;
}

.hdg-3 {
    font-size: 32px;
}

.hdg-4 {
    font-size: 24px;
}

.hdg-5 {
    font-size: 18px;
}

.hdg-padded {
    padding: 20px 0;
}

/* ---------------------------------------------------------------------
 Header
------------------------------------------------------------------------ */

.wrapper-header {
    max-width: 100%;
    padding: 0 10px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
}

.page-header {
    overflow: hidden;
    height: 120px;
    max-width: 960px;
    margin: 0 auto;
}

.btn-menu {
    display: none;
    width: 20px;
    height: 20px;
    border: 1px solid red;
}

.page-content {
    background: #ededed;
}

.page-content-bright { background-color: #ffffff; }

.page-content-bright a { color: #005581; }

.header-contact {
    float: right;
    margin-top: -50px;
    font-size: 12px;
}

.header-contact a {
    color: #005581;
}

/* ---------------------------------------------------------------------
 Horizontal Lists
------------------------------------------------------------------------ */

.wrapper-nav {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    top: 0;
    left: 0;
}

.nav {
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}

.nav > li {
    display: inline-block;
    vertical-align: top;
}

.nav > li > a {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.nav > li > a:hover {
    background: #005581;
    -moz-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -webkit-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -ms-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -o-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
}

.nav-container {
    position: relative;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------------------
 Horizontal List
------------------------------------------------------------------------ */

.h-list {
    overflow: hidden;
}

.h-list > * {
    float: left;
}

.h-list-members > * {
    width: 50%;
}

.h-list_scholarships {
    font-size: 18px;
}

.h-list_scholarships > * + * {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #414042;
}

/* ---------------------------------------------------------------------
 Secondary Nav
------------------------------------------------------------------------ */

.secondary-nav {
    width: 150px;
    background-color: #005581;
    font-size: 14px;
    color: #fff;
}

.secondary-nav a,
.secondary-nav .title { padding: 10px 0 10px 20px; }

.secondary-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.secondary-nav .title {
    background-color: #0088bb;
    font-weight: bold;
}

.secondary-nav .secondary-nav-item_isActive { background-color: #00476c; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks {
    overflow: hidden;
    position: relative;
    margin-left: -6%;
}

.blocks > * {
    float: left;
    margin-left: 6%;
}

.blocks-2up > * { width: 44%; }
.blocks-4up > * { width: 19%;}

.blocks-large > * { height: 50px; }
.blocks-small > * { height: 40px; }

/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */
.media:after,
.media:before {
    content: '';
    display: table;
}

.media:after { clear: both; }

.media {
    margin-bottom: 40px;
    text-align: left;
}

.media-pull-left { margin-left: -10px; }

.media-push-right { margin-right: 200px; }

.media-float-right { float: right; }

.media-element {
    margin: 0 40px 0 0;
    float: left;
    line-height: 1;
}

.media-pull-left > .media-element { margin: -30px 10px 0 0; }

.media-bd {overflow:  hidden; }

.media-invert > .media-element {
    margin: 0 0 0 40px;
    float: right;
}

/* ---------------------------------------------------------------------
 Intro Object
------------------------------------------------------------------------ */
.intro-hd {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    color: #005581;
}

.intro-bd { font-size: 16px; }

/* ---------------------------------------------------------------------
 Summary Object
------------------------------------------------------------------------ */
.summary-hd {
    margin-bottom: 15px;
    font-size: 22px;
    color: #005581;
}

.summary-hd-invert { color: #ffffff; }

.summary-bd { margin-bottom: 10px; }

/* ---------------------------------------------------------------------
 Summary List
------------------------------------------------------------------------ */
.summary-list > li { margin-bottom: 5px; }

.summary-list > li > a {
    font-size: 12px;
    color: #414042;
    font-weight: bold;
}

/* ---------------------------------------------------------------------
 Check List
------------------------------------------------------------------------ */
.check-list > li { margin-bottom: 10px; }

.check-item {
    padding-left: 26px;
    background: url(../images/bg-check-item.png) 0 3px no-repeat;
}

.check-item-hd {
    font-size: 18px;
    color: #005581;
    font-weight: bold;
}

.check-item-bd { color: #404041;}

/* ---------------------------------------------------------------------
 Steps Section Object
------------------------------------------------------------------------ */
.section-steps-hd,
.section-steps-icon {
    margin-bottom: 40px;
    text-align: center;
}

.section-steps-hd {
    font-size: 44px;
    color: #404041;
    font-weight: bold;
}

.section-steps-counter {
    font-size: 60px;
    color: #54accd;
}

.section-steps-bd { font-size: 14px; }

/* ---------------------------------------------------------------------
 Individual Step Object
------------------------------------------------------------------------ */
.step-callout { padding-top: 80px; }

.step-hd { margin-bottom: 10px; }

.step-hd {
    font-size: 18px;
    color: #005581;
    font-weight: bold;
}

.step-icon,
.step-callout > .step-hd { text-align: center; }

.step-bd { margin-bottom: 10px; }

/* ---------------------------------------------------------------------
 Icon List
------------------------------------------------------------------------ */
.icon-list > li { margin-bottom: 5px; }

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */

.page-footer {
    background-color: #005581;
    padding: 30px 0;
}

.wrapper-nav-footer {
    margin: 0 auto;
    max-width: 960px;
}

.wrapper-footer {
    padding: 0 22%;
}

.nav-footer {
    margin: 0 auto;
    padding: 0 0 0 0;
}

.nav-footer > li {
    display: inline-block;
    vertical-align: top;
}

.nav-footer > li > a {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.nav-footer > li > a:hover {
    background: #54accd;
    -moz-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -webkit-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -ms-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    -o-transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
    transition:
        background 0.3s ease-in-out,
        opacity 0.3s ease-in-out 0s;
}

.footer-copy {
    margin: 0 auto;
    max-width: 930px;
    color: #FFFFFF;
    padding: 30px 15px 0 15px;
}

.footer-copy > ul > * + * {
    margin-left: 3%;
}

.footer-contact {
    margin: 0 auto;
    max-width: 930px;
    color: #FFFFFF;
    padding: 30px 15px 0 15px;
}

.footer-contact > ul > * + * {
    margin-left: 3%;
}

/* ---------------------------------------------------------------------
 Buttons
------------------------------------------------------------------------ */
.btn {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    padding: 0 12px;
    font-weight: bold;
    background-color: #f6f6f7;
    border-radius: 3px;
    border: 1px solid #909295;
    -moz-box-shadow: -1px 1px 5px -1px #888;
    -webkit-box-shadow: -1px 1px 5px -1px#888;
    box-shadow: -1px 1px 5px -1px #888;
    color: #4c4043;
}

.btn:hover {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
    color: #4c4043;
}

.btn-menu {
    display: none;
}

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */

.feature {

}

.feature-hd {
    margin-bottom: 14px;
}

.feature-bd {
    margin-bottom: 14px;
    font-size: 18px;
}

.feature-bd_extended {
    font-size: 24px;
    color: #005581;
    line-height: 1.5;
}

.feature-bd_small {
    font-size: 18px;
    color: #005581;
    line-height: 1.5;
}

.feature-ft {

}

/* ---------------------------------------------------------------------
 Quote Section
------------------------------------------------------------------------ */

.section-quote {
    position: relative;
    margin-top: 70px;
}

.section-quote_about {
    margin-top: 5px;
    margin-left: 50px;
}

.section-quote-hd_about {
    margin-left: 50px;
}

.section-quote-bd {
    margin-bottom: 40px;
    padding-right: 50px;
    font-size: 18px;
    color: #005581;
}

.section-quote-bd:before {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: -60px;
    width: 54px;
    height: 40px;
}

.section-quote-bd:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 54px;
    height: 40px;
}

.section-quote-bd.white:before { background: url('../images/white-dkblue-quotes_03.png') no-repeat; }
.section-quote-bd.white:after { background: url('../images/white-dkblue-quotes_07.png') no-repeat; }

.section-quote-bd.blue:before { background: url('../images/white-ltblue-quotes_03.png') no-repeat; }
.section-quote-bd.blue:after { background: url('../images/white-ltblue-quotes_07.png') no-repeat; }

.section-quote-ft {
    font-size: 18px;
    font-style: italic;
    color: #404041;
}

/* ---------------------------------------------------------------------
 Participant Options
------------------------------------------------------------------------ */

.participant-options {
    overflow: hidden;
    max-width: 715px;
    margin: 0 auto;
    padding-bottom: 60px;
    border-bottom: 1px solid #005581;
}

/* ---------------------------------------------------------------------
 Heros
------------------------------------------------------------------------ */

.hero-img {
    padding-bottom: 30px;
}

.hennepin-county {
    width: 313px;
    height: 346px;
    margin: -140px 0 -113px 0;
    background: url('../images/county.png') no-repeat;
}

.hero-img-home {
    background-image: url('../images/homepage-hero.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.hero-img-training {
    background-image: url('../images/training-hero.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.hero-img-about {
    background-image: url('../images/about-hero.png');
    background-repeat: no-repeat;
    background-position: right top;
}

/* ---------------------------------------------------------------------
 Partners
------------------------------------------------------------------------ */

.partners {
    width: 75%;
    margin: 0 auto;
}

.partners-hd {
    margin-bottom: 30px;
}

.partners-bd {
    margin-left: -6%;
}

.partners-bd > * {
    float: left;
    height: 100px;
    width: 26%;
    margin-bottom: 20px;
}

.partners-bd > * {
    margin-left: 6%;
}

.partners-bd a {
    font-size: 18px;
    color: #005581;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */

.offscreen {
    display: block;
    text-indent: -999999px;
}

.visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ---------------------------------------------------------------------
 Stretch Object
------------------------------------------------------------------------ */

.stretch {
    overflow: hidden;
    display: block;
}

.stretch > * {
    float: right;
}

.stretch > :first-child {
   float: left;
}

/* ---------------------------------------------------------------------
 Woooooooo Classes
------------------------------------------------------------------------ */
.product img {
    display: none;
}

/* ---------------------------------------------------------------------
 Volunteer Page
------------------------------------------------------------------------ */

.volunteer-img {
    margin-top: 38%;
}

/* ---------------------------------------------------------------------
 Training Page
------------------------------------------------------------------------ */

.training {
    overflow: hidden;
    padding: 50px 0;
}

.training:first-child {
    padding: 0 0 50px 0;
}

.training-hd {
    margin-bottom: 28px;
}

.training-bd {
    /*display: none;*/
    overflow: hidden;
    margin-top: 25px;
}

.training-list {
    margin: 5px 0 30px 33px;
    list-style: disc;
    font-size: 14px;
}

.training-prices {
    width: 100%;
}

.training-prices td {
    width: 33%;
    text-align: center;
    vertical-align: top;
    font-size: 10px;
}

.training-prices td:first-child {
    text-align: left;
    line-height: 1;
}

.training-prices_category {
    font-size: 10px;
}

.training-prices_price {
    display: block;
    font-size: 30px;
    text-align: left;
}

.training + .training {
    border-top: 2px solid #54accd;
}

.training-table > * {
    padding: 10px 0;
}

.training-table > * + * {
    border-top: 1px solid #ffffff;
}

.training-links > * {
    width: 40%;
    float: left;
    margin-top: 20px;
}

.training-links a {
    font-size: 18px;
    color: #005581;
}

/* ---------------------------------------------------------------------
 About Page
------------------------------------------------------------------------ */

.about-staff {
    margin: 40px 0;
}

.about-employee {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-seperate-border {
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d6d6d6;
}

.about-accomplishments-divide {
    width: 81px;
    height: 120px;
    background: url('../images/about-divide.png') no-repeat center;
}

.about-accomplishments-number {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}

.about-report {
    margin-left: 10%;
}

.about-report > * + * {
    margin-top: 10px;
}

/* ---------------------------------------------------------------------
 Resources Page
------------------------------------------------------------------------ */

.resource {
    margin-top: 40px;
}

.resource-hd {
    margin-bottom: 15px;
}

.resource a {
    font-weight: bold;
    color: #005581;
}

.tip-list {
    list-style: decimal;
    margin-left: 20px;
}

.tip-list > * {
    margin-top: 30px;
}

.tips-pledge {
    margin-top: 30px;
}

.tips-today {
    margin-top: 30px;
}

.tip-list_small > * {
    margin-top: 2px;
}

/* ---------------------------------------------------------------------
 Individual Media Queries
------------------------------------------------------------------------ */

@media screen and (max-width: 1127px) {
    .nav-footer > li > a {
        font-size: 14px;
        padding: 0 22px;
        line-height: 60px;
        text-align: center;
    }

    .footer-copy {
        font-size: 11px;
    }

    .footer-contact {
        font-size: 11px;
    }

    .footer-copy > ul > * {
        float: none;
    }

    .footer-copy > ul > * + * {
        margin: 10px 0;
    }

    .footer-contact > ul > * {
        float: none;
    }

    .footer-contact > ul > * + * {
        margin: 10px 0;
    }
}

@media screen and (max-width: 885px) {

    .secondary-nav {
        display: none;
    }

}

@media screen and (max-width: 782px) {

    .nav > li > a {
        font-size: 12px;
        padding: 0 12px;
    }

}

@media screen and (max-width: 767px) { /* under tablet size */

    .header-contact {
        display: none;
    }

    /*.grid-main {
        margin-left: 5%;
    }*/

}

@media screen and (max-width: 646px) {

    .page-footer {
        padding: 0;
    }

    .wrapper-footer {
        padding: 0;
    }

    .nav > li > a,
    .nav-footer > li > a {
        font-size: 14px;
        padding: 0 22px;
        line-height: 60px;
        text-align: center;
    }

    .nav-footer > li  {
        display: block;
    }
}
/* ---------------------------------------------------------------------
  SPRITE
------------------------------------------------------------------------ */

.icn {
    display: inline-block;
}

.icon-sprite-about {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

.icon-standing {
    background-position: 0 0;
    width: 107px;
    height: 96px;
}

.about-gavel {
    background-position: -151px 0;
    width: 119px;
    height: 97px;
}

.about-school {
    background-position: -301px 0;
    width: 116px;
    height: 120px;
}

.about-tools {
    background-position: -450px -2px ;
    width: 92px;
    height: 96px;
}

.about-standards {
    background-position: 0 -103px ;
    width: 129px;
    height: 98px;
}

.home-presents {
    background-position: -151px -101px ;
    width: 31px;
    height: 36px;
    margin-right: 10px;
}

.home-home {
    background-position: -151px -151px ;
    width: 37px;
    height: 31px;
    margin-right: 10px;
}

.home-people {
    background-position: -201px -150px ;
    width: 47px;
    height: 32px;
    margin-right: 10px;
}

.nav-person {
    background-position: -301px -151px ;
    width: 19px;
    height: 17px;
}

.nav-search {
    background-position: -251px -101px ;
    width: 19px;
    height: 19px;
}

.nav-toggle {
    background-position: -248px -140px ;
    width: 21px;
    height: 26px;
}
